<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="port" value="55556" />
        <add key="ip" value="localhost" />
    </appSettings>
    <connectionStrings>
        <add name="MariaDBConnection"
             connectionString="Server=localhost;Port=3306;Database=main;User Id=root;Password=parola;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>